<h2>Chat com {{ other_user.username }}</h2>

<div id="lista-mensagens" 
     style="border:1px solid #ccc; padding:10px; height:300px; overflow-y:scroll;">
    {% for msg in messages %}
        <p>
            <strong>
                {% if msg.sender == request.user %}
                    Você:
                {% else %}
                    {{ msg.sender.username }}:
                {% endif %}
            </strong>
            {{ msg.text }}
        </p>
    {% endfor %}
</div>

<form method="POST">
    {% csrf_token %}
    <input id="campo-msg" type="text" name="text" placeholder="Digite sua mensagem..." required>
    <button type="submit">Enviar</button>
</form>

<br>
<a href="{% url 'users_list' %}">Voltar</a>
