<h1>Bem-vindo ao <span style="color: #2f8f03;">EducaFamilly!</span></h1>

<h3>
Este site ainda está em desenvolvimento, sendo realizado pelos alunos 
<span style="color: #0e62df;">Rian Ciscotto</span> e 
<span style="color: #0e62df;">Felipe Baba</span>, sob orientação do professor 
<span style="color: #f17807;">Álvaro Luiz</span> no curso de ADS
</h3>


<h3>O objetivo do site é conectar de forma segura e simples pais e professores, proporcionando uma comunicação melhor entre eles.</h3>
<br><br><br>

<h2>Selecione o usuário que deseja conversar
</h2>

<ul>
    {% for u in users %}
        <li>
            <a href="/chat/{{ u.id }}/">{{ u.username }}</a>
        </li>
    {% endfor %}
</ul>
<form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit"
            style="padding:8px 12px; background:#e74c3c; color:white; border:none; border-radius:5px; cursor:pointer;">
        Sair
    </button>
</form>
